.DS_Store
.idea
*.log
tmp/

# Ignore keys (replace 'your_keys_directory' and 'your_keys_filename' with the actual names)
# your_keys_directory/
*.key
*.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so


# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


# Ignore the README.org file
README.org
